/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--bg-color);
}

.header { 
  padding: 10px;
}

.decorated-element {
  color: var(--accent-color);
  display: flex;
  justify-content: end;
  gap: 3px;
}

.decorated-element_corner {
  color: var(--accent-color);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-element_corner::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
  position: relative;
  inset: -2px 7px 7px;
} 

.header__theme-menu {
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  justify-content: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
  /* outline-offset: 1px ; */
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none
  /* outline-offset: 1px ; */
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--accent-color);
}

.content__title {
  color: var(--accent-color);
  font-size: 18px;
  margin-block-end: 20px;
}

.list__title {
  color: var(--list-title-color);
  margin-block-end: 10px;
  font-size: 18px;
}

.list__paragraph {
  color: var(--text-color);
}

.content__list li:not(:last-child) {
  margin-block-end: 20px;
} 

.main_content {
  margin-inline: 10px;
  margin-block-end: 50px;
}

.about_focus, .advice {
  display: grid;
  /* grid-template-columns: 1fr 2fr;
  gap: 20px; */
}

.problems {
  display: grid;
}

/* .problems .content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
} */

@media (width >= 768px) {
  .header { 
  padding: 20px;
}
}

@media (width < 768px) {
  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 768px) {
  .main_content {
    margin-inline: 20px;
    margin-block-end: 80px;
  }
}

@media (width >= 768px) {
  .about_focus, .advice {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .problems .content__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}