/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--bg-color);
}

.decorated-element {
  color: var(--accent-color);
}

.header__theme-menu {
  color: var(--accent-color);
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);;
}