/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--bg-color);
  line-height: 130%;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header { 
  margin: 10px;
  display: grid;
  position: relative;
}

.decorated-element {
  color: var(--accent-color);
  position: absolute;
  top: 0%;
  right: 0%;
}

.decorated-element_text {
  position: relative;
  left: 7px;
} 

.decorated-element_corner {
  color: var(--accent-color);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-element_corner::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
  left: 7px;
  top: -2px;
  position: relative;
} 






.header__theme-menu {
  color: var(--accent-color);
  padding-block-start: 40px;
  justify-self: end;
  /* gap: 13px;
  flex-direction: row; */
}

.header__theme-menu-list {
  /* display: flex;
  gap: 13px; */
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
  /* outline-offset: 1px ; */
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none
  /* outline-offset: 1px ; */
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  margin-block-end: 55px;
  margin-block-start: 66px;
}

.header__paragraph {
  margin-block-end: 55px;
  /* width: maxmin(355px, 364px, 491px); */
  width: min(100%, 491px);
  justify-self: end;
  /* width: max(100%, 355px) */
}

.title-decor {
  background-color: var(--accent-color);
}

.header__paragraph::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;  
}

.list__paragraph a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  
}

.content__title {
  color: var(--accent-color);
  font-size: 18px;
  margin-block-end: 20px;
}

.list__title {
  color: var(--list-title-color);
  margin-block-end: 10px;
  font-size: 18px;
}

.list__paragraph {
  color: var(--text-color);
}

.content__list li:not(:last-child) {
  margin-block-end: 20px;
} 

.main_content {
  margin-inline: 10px;
  margin-block-end: 50px;
}

.about_focus, .advice {
  display: grid;
  /* grid-template-columns: 1fr 2fr;
  gap: 20px; */
}

.problems {
  display: grid;
}

/* .list__title h5 {
  font-weight: 400;
} */

.problems .content__title {
  max-width: 315px;
}

.advice_list .content__list .list__title {
  font-weight: 400;
}

.advice_list .content__list {
  margin-block-start: 20px;
}


.image-container {
  display: grid;
  gap: 10px;
  /* max-height: 1048px; */
  /* min-height: 780px; */
}

.image-container img {
  object-fit:cover;
  width: 100%;
  height:100%;
}

/* .image_sunset {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.image_tape {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
}

.image_street {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 2;
}

.image_ice-cream {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
} */

.footer {
  display: flex;
  margin-block-end: 10px;
  margin-inline: 10px;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
  position: relative;
}
.footer.header__title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

footer .header__title::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  position: absolute;
  right: 0;
  top: 0;  
}

footer .header__title::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;  
}

@media (width >= 768px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    
   .image_sunset {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    
    .image_tape {
      grid-row-start: 2;
      grid-row-end: span 2;
      grid-column-start: 1;
    }
    
    .image_street {
      grid-row-start: 3;
      grid-column-start: 2;
      grid-column-end: span 2;
    }
    
    .image_ice-cream {
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column-start: 3;
    }
  }
}

@media (width >= 768px) {
  .image-container {

    margin-top: 20px;
    max-height: 1048px;
  }
} 






@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    gap: 35px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding: 0;
     
  }
}

@media (width >= 768px) {
  .header { 
  margin: 20px;
 }
}

@media (width < 768px) {
  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-end: 162px;
    margin-block-start: 174px;
  }
}



@media (width >= 768px) {
  .main_content {
    margin-inline: 20px;
    margin-block-end: 80px;
  }
}

@media (width >= 768px) {
  .about_focus, .advice {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}

@media (width >= 1024px) {
  .problems .content__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (768px <= width < 1024px) {
  .problems .content__title {
    max-width: 237px;
  }
}

@media (768px <= width < 1024px) {
  .header__paragraph {
    margin-block-end: 183px;
  }
}

@media (width <= 1024px) {
  .header__paragraph {
    margin-block-end: 134px;
  }
}
